@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: white;
}

.gradient-text {
  background: linear-gradient(to right, #09e5e5, #8efa6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-border {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #09e5e5, #8efa6d)2;

}

.btn-one {
  @apply px-4 py-2 font-bold rounded-2xl
}

.btn-two {
  background: linear-gradient(to right, #09e5e5, #8efa6d);
  @apply px-6 py-2 rounded-md text-black font-bold transition-all duration-300
}

.btn-two:hover {
  background: linear-gradient(to left, #09e5e5, #8efa6d);
}